[Unit]
Description=Dashboard service for aggregate data as graphs
Wants=network.target

[Service]
ExecStart=/home/rogier/olaf/dashboard_start.sh
User=rogier
Group=rogier
StandardOut=null
StandardError=null

[Install]
WantedBy=graphical.target
